<ion-list class="ion-no-margin ion-no-padding">
  <ion-item lines="none">
    <ion-label class="heading ion-text-wrap">Command Palette</ion-label>
  </ion-item>
  <div style="margin: 15px;">
    <ion-button shape="round" color="warning" expand="block">Place</ion-button>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-button shape="round" color="warning" expand="block">
            <ion-icon class="left-icon" name="reload-sharp"></ion-icon>Left
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="warning" expand="block">Move</ion-button>
        </ion-col>
        <ion-col>
          <ion-button shape="round" color="warning" expand="block">
            Right<ion-icon name="reload-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button shape="round" color="warning" expand="block">Report</ion-button>
  </div>
</ion-list>
