<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="icon-only" [routerLink]="['/about']">
        <ion-icon color="medium" size="large" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      The Pawn Simulator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container>
    <app-board id="appBoard"></app-board>
    <app-command-palette id="appCommandPalette" [hidden]="(pawnPlaceMode$ | async) === true"></app-command-palette>
    <app-logs id="appLogs" [hidden]="(pawnPlaceMode$ | async) === true">></app-logs>
  </ng-container>
</ion-content>
